<div class="ui secondary pointing menu">
    <a class="active item" data-tab="form001">ICT-วจ-001</a>
    <a class="item" data-tab="form002" ng-click="fileTypeChange(2)">ICT-วจ-002</a>
    <a class="item" data-tab="form003" ng-click="fileTypeChange(3)">ICT-วจ-003</a>
    <a class="item" data-tab="form004">ICT-วจ-004</a>
    <a class="item" data-tab="form005">ICT-วจ-005</a>
    <a class="item" data-tab="form006">ICT-วจ-006</a>
    <a class="item" data-tab="form007">ICT-วจ-007</a>
    <a class="item" data-tab="form008">ICT-วจ-008</a>
    <a class="item" data-tab="form009">ICT-วจ-009</a>
    <a class="item" data-tab="form010">ICT-วจ-010</a>
    <a class="item" data-tab="form011">ICT-วจ-011</a>
    <a class="item" data-tab="form012">ICT-วจ-012</a>
</div>

<div class="ui active tab" data-tab="form001">
    <div class="" ng-include="'/app/admin/project/_form001.html'">
    </div>
</div>

<div class="ui tab" data-tab="form002">
    <div class="" ng-include="'/app/admin/project/_form002.html'">
    </div>
</div>

<div class="ui tab" data-tab="form003">
    <h4 class="ui dividing header">ICT_วจ_003_แบบขออนุมัติดำเนินโครงการวิจัย</h4>
</div>

<div class="ui tab" data-tab="form004">
    <h4 class="ui dividing header">ICT_วจ_004_แบบขออนุมัติเบิกเงินอุดหนุนการวิจัย</h4>
</div>

<div class="ui tab" data-tab="form005">
    <h4 class="ui dividing header">ICT_วจ_005_แบบฟอร์มรายงานความก้าวหน้าของโครงการวิจัย</h4>
</div>

<div class="ui tab" data-tab="form006">
    <h4 class="ui dividing header">ICT_วจ_006_แบบฟอร์มรายงานการเงิน</h4>
</div>

<div class="ui tab" data-tab="form007">
    <h4 class="ui dividing header">ICT_วจ_007_แบบขออนุมัติปิดโครงการ</h4>
</div>

<div class="ui tab" data-tab="form008">
    <h4 class="ui dividing header">ICT_วจ_008_รูปแบบการพิมพ์รายงานฉบับสมบูรณ์</h4>
</div>

<div class="ui tab" data-tab="form009">
    <h4 class="ui dividing header">ICT_วจ_009_แบบขออนุมัติปรับแผนงบประมาณโครงการวิจัย</h4>
</div>

<div class="ui tab" data-tab="form010">
    <h4 class="ui dividing header">ICT_วจ_010_แบบขออนุมัติขยายเวลา</h4>
</div>

<div class="ui tab" data-tab="form011">
    <h4 class="ui dividing header">ICT_วจ_011_แบบฟอร์มรายงานตัวชี้วัดเพื่อประเมินผลสำเร็จโครงการ</h4>
</div>

<div class="ui tab" data-tab="form012">
    <h4 class="ui dividing header">ICT_วจ_012 แบบโอนครุภัณฑ์</h4>
</div>

<script type="text/javascript">
    $('.ui.accordion').accordion();
    $('.ui.dropdown').dropdown();
    $('.menu .item').tab();
</script>