<form class="ui form" ng-submit="save()">

    <div flow-init flow-object="myFlow">

        <span class="ui positive button" flow-btn>Add Files</span>
        Input OR Other element as upload button
        <span class="btn" flow-btn>Upload File</span>

        <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
        </table>
    </div>


    <table class="ui celled striped table">
        <thead>
        <tr>
            <th>ID</th>
            <th>File Name</th>
            <th>Date Create</th>
            <th>Management</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files">
            <td>{{file.id}}</td>
            <td><a target="_blank" href="{{file.url}}">{{file.filename}}</a></td>
            <td>{{file.created_at}}</td>
            <td><button ng-click="deleteProjectFile(file)" type="button" class="ui default submit button">Remove</button></td>
        </tr>
        </tbody>

    </table>

    <button type="button" class="ui primary button" ng-click="uploadFile()">Upload</button>
</form>