<div class="ui header">
    <h3>
        โครงการ/งานวิจัย
        <div class="ui">
            <button ui-sref="add" class="ui primary button"><i class="fa fa-plus-circle"></i>เพิ่ม งานวิจัย</button>
        </div>
    </h3>
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ไอดี</th>
        <th>ชื่อโครงการ/งานวิจัย (th)</th>
        <th>ชื่อโครงการ/งานวิจัย (en)</th>
        <th>จัดการข้อมูล</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects">
        <td>{{project.id}}</td>
        <td>{{project.name_th}}</td>
        <td>{{project.name_en}}</td>
        <td>
            <button ui-sref="edit({id:project.id})" class="ui compact blue button"><i
                    class="fa fa-edit"></i></button>
            <button ng-click="delete(project)" class="ui compact red button"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>


