<form ng-submit="save()" class="ui form">
    <div class="ui dividing header">
        <h3>
            ข่าวประชาสัมพันธ์
            <small>แก้ไข</small>

            <div class="pull-right">
                <a ui-sref="list" class="btn btn-sm btn-default"><i
                        class="fa fa-reply"></i>กลับ</a>
            </div>
        </h3>
    </div>

    <h4 class="ui dividing header">ข่าวประชาสัมพันธ์</h4>

    <div class="three fields">
        <div class="field">
            <label>หัวข้อข่าว</label>
            <input type="text" placeholder="หัวข้อข่าว" ng-model="news.title">
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>รายละเอียด</label>
            <textarea placeholder="รายละเอียด" ng-model="news.detail"></textarea>
        </div>
    </div>
    <div></br></div>
    <div class="">
        <button type="submit" class="ui primary submit button">บันทึกข้อมูล</button>
        <button type="button" ui-sref="list" class="ui red submit button">ยกเลิก</button>
    </div>

</form>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();
</script>