
<div class="ui header">
    <h3>
        ข่าวประชาสัมพันธ์
        <div class="ui">
            <button ui-sref="add" class="ui primary button"><i class="fa fa-plus-circle"></i>เพิ่ม ข่าวประชาสัมพันธ์
            </button>
        </div>
    </h3>
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ไอดี</th>
        <th>หัวข้อข่าว</th>
        <th>รายละเอียด</th>
        <th>จัดการข้อมูล</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="news in news">
        <td>{{ news.id }}</td>
        <td>{{ news.title }}</td>
        <td>{{ news.detail }}</td>
        <td>
            <button ui-sref="edit({id:news.id})" class="ui compact blue button"><i
                    class="fa fa-edit"></i></button>
            <button ng-click="delete(news)" class="ui compact red button"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>
