<div class="ui header">
    <h3>
        นักวิจัย
        <div class="ui">
            <button ui-sref="add" class="ui primary button"><i class="fa fa-plus-circle"></i>เพิ่ม นักวิจัย</button>
        </div>
    </h3>
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ไอดี</th>
        <th>ชื่อผู้ใช้งาน</th>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>คณะ/หน่วยงาน</th>
        <th>สาขาวิชา</th>
        <th>จัดการข้อมูล</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstname_th}}</td>
        <td>{{user.lastname_th}}</td>
        <td>{{user.user_faculty}}</td>
        <td>{{user.user_major}}</td>
        <td>
            <button ui-sref="edit({id:user.id})" class="ui compact blue button"><i
                    class="fa fa-edit"></i></button>
            <button ng-click="delete(user)" class="ui compact red button"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>


