<div class="ui header">
    <h3>
        สิทธิ์ผู้ใช้งาน
        <div class="ui">
            <button ui-sref="add" class="ui primary button"><i class="fa fa-plus-circle"></i>เพิ่ม สิทธิ์ผู้ใช้งาน</button>
        </div>
    </h3>
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ไอดี</th>
        <th>สิทธิ์ผู้ใช้งาน</th>
        <th>จัดการ</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="role in roles">
        <td>{{role.id}}</td>
        <td>{{role.name}}</td>
        <td>
            <button ui-sref="edit({id:role.id})" class="ui compact blue button"><i
                    class="fa fa-edit"></i></button>
            <button ng-click="delete(role)" class="ui compact red button"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>
