
<div class="ui header">
    <h3>
        ปีงบประมาณ
        <div class="ui">
            <button ui-sref="add" class="ui primary button"><i class="fa fa-plus-circle"></i>เพิ่ม ปีงบประมาณ
            </button>
        </div>
    </h3>
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ไอดี</th>
        <th>ปีงบประมาณ</th>
        <th>งบประมาณ</th>
        <th>จัดการข้อมูล</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="budget in budgets">
        <td>{{budget.id}}</td>
        <td>{{budget.year}}</td>
        <td>{{budget.budget}}</td>
        <td>
            <button ui-sref="edit({id:budget.id})" class="ui compact blue button"><i
                    class="fa fa-edit"></i></button>
            <button ng-click="delete(budget)" class="ui compact red button"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>

