
<form ng-submit="save()" class="ui form">
    <div class="ui dividing header">
        <h3>
            คณะ/หน่วยงาน
            <small>เพิ่ม</small>

            <div class="pull-right">
                <a ui-sref="list" class="btn btn-sm btn-default"><i
                        class="fa fa-reply"></i>กลับ</a>
            </div>
        </h3>
    </div>

    <h4 class="ui dividing header">คณะ/หน่วยงาน</h4>

    <div class="three fields">
        <div class="field">
            <label>ชื่อ คณะ/หน่วยงาน (ภาษาไทย)</label>
            <input type="text" placeholder="ชื่อสาขาวิชา (th)" ng-model="faculty.name_th">
        </div>
        <div class="field">
            <label>ชื่อ คณะ/หน่วยงาน (ภาษาอังกฤษ)</label>
            <input type="text" placeholder="ชื่อสาขาวิชา (en)" ng-model="faculty.name_en">
        </div>
    </div>

    <div></br></div>
    <div class="">
        <button type="submit" class="ui primary submit button">บันทึกข้อมูล</button>
        <button type="button" ui-sref="list" class="ui red submit button">ยกเลิก</button>
    </div>

</form>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();
</script>