<form ng-submit="save()" class="form form-horizontal">
    <div class="page-header">
        <h3>
            คณะ/หน่วยงาน
            <small>แก้ไขข้อมูลคณะ/หน่วยงาน</small>

            <div class="pull-right">
                <a ui-sref="list" class="btn btn-sm btn-default"><i
                        class="fa fa-reply"></i>กลับ</a>
            </div>
        </h3>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">ชื่อ คณะ/หน่วยงาน (ภาษาไทย) :</label>

        <div class="col-md-5">
            <input type="text" name="name_th" class="form-control" ng-model="faculty.name_th" >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">ชื่อ คณะ/หน่วยงาน (ภาษาอังกฤษ) :</label>

        <div class="col-md-5">
            <input type="text" name="name_eng" class="form-control" ng-model="faculty.name_eng">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button ui-sref="list" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</form>