<div class="page-header">
    <h3>
        คณะ/หน่วยงาน
        <div class="pull-right">
            <button ui-sref="add" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle"></i>เพิ่ม คณะ/หน่วยงาน
            </button>
        </div>
    </h3>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                ข้อมูลคณะ/หน่วยงาน
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ชื่อคณะ/หน่วยงาน (th)</th>
                            <th>ชื่อคณะ/หน่วยงาน (en)</th>
                            <th>จัดการข้อมูล</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="faculty in facultys">
                            <td>{{faculty.id}}</td>
                            <td>{{faculty.name_th}}</td>
                            <td>{{faculty.name_en}}</td>
                            <td>
                                <button ui-sref="edit({id:faculty.id})" class="btn btn-sm btn-info"><i
                                        class="fa fa-edit"></i></button>
                                <button ng-click="delete(faculty)" class="btn btn-sm btn-danger"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>