
<div class="ui header">
    <h3>
        คณะ/หน่วยงาน
        <div class="ui">
            <button ui-sref="add" class="ui primary button"><i class="fa fa-plus-circle"></i>เพิ่ม คณะ/หน่วยงาน
            </button>
        </div>
    </h3>
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ID</th>
        <th>ชื่อคณะ/หน่วยงาน (th)</th>
        <th>ชื่อคณะ/หน่วยงาน (en)</th>
        <th>จัดการข้อมูล</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="faculty in facultys">
        <td>{{faculty.id}}</td>
        <td>{{faculty.name_th}}</td>
        <td>{{faculty.name_en}}</td>
        <td>
            <button ui-sref="edit({id:faculty.id})" class="ui compact blue button"><i
                    class="fa fa-edit"></i></button>
            <button ng-click="delete(faculty)" class="ui compact red button"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>

