
<div class="ui header">
    <h3>
        สาขาวิชา
        <div class="ui">
            <button ui-sref="add" class="ui primary button"><i class="fa fa-plus-circle"></i>เพิ่ม สาขาวิชา
            </button>
        </div>
    </h3>
</div>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ไอดี</th>
        <th>ชื่อสาขาวิชา (th)</th>
        <th>ชื่อสาขาวิชา (en)</th>
        <th>จัดการข้อมูล</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="major in majors">
        <td>{{major.id}}</td>
        <td>{{major.name_th}}</td>
        <td>{{major.name_en}}</td>
        <td>
            <button ui-sref="edit({id:major.id})" class="ui compact blue button"><i
                    class="fa fa-edit"></i></button>
            <button ng-click="delete(major)" class="ui compact red button"><i
                    class="fa fa-trash"></i></button>
        </td>
    </tr>
    </tbody>
</table>

